// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin: 20px;
}

.line {
  line-height: 60px;
  margin: 40px;
  margin-top: 20px;
}

.link {
  margin-left: 40px;
}